{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Users list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Passwordhash</th>
                <th>Salt</th>
                <th>Avatarfilepath</th>
                <th>Locked</th>
                <th>Lastactivity</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.passwordHash }}</td>
                <td>{{ entity.salt }}</td>
                <td>{{ entity.avatarFilePath }}</td>
                <td>{% if entity.locked %}{{ entity.locked|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.lastActivity %}{{ entity.lastActivity|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('users_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('users_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('users_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
